[DEFAULT]
arch = i386
mem = 2047
cpus = 2
user = nuxeo
name = Nuxeo
pass = nuxeo
tmpfs = 1024
part = vmbuilder.partitions
copy = BUILDDIR/vmbuilder.copy
execscript = BUILDDIR/vmbuilder.postinst
firstboot = BUILDDIR/vmbuilder.firstboot
verbose = true

[ubuntu]
# replace with your preferred mirror
install-mirror = http://netboot.in.nuxeo.com/ubuntu
suite = precise
flavour = virtual
components = main, universe, multiverse
seedfile = BUILDDIR/vmbuilder.seed
addpkg = openssh-server, acpid, openjdk-7-jdk, libreoffice, imagemagick, poppler-utils, ffmpeg, ffmpeg2theora, ufraw, libwpd-tools, postgresql-9.1, apache2, perl, locales, pwgen, dialog
hostname = nuxeovm

